/* Header */
header {
  height: 50x;
  /* background: #AED6F1; */
  background: #0769a2;
  padding: 0 50px;
  color: black;
  /*Aplicamos el display flex*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.logo {
  text-transform: uppercase;
  font-weight: 200;
}

.menu a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  /*0 px de arriba y de izquierda y derecha de 10 px*/
  padding: 0 10px;
  transition: 0.4s;
}
.mostrar-menu,
.esconder-menu {
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}

/* Otras de las opciones que nos da el flex box es que podemos poner un orden */
.mostrar-menu {
    order: 1;
}

.menu a:hover,
.mostrar-menu a:hover,
.esconder-menu a:hover {
    color: #FDFEFE;
}

#check {
    display: none;
}



.container-card {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: fit-content;
  margin: auto;
  flex-direction: row;
  justify-content: center;
}

.card {
  width: 25%;
  height:350px;
  margin: 1%;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease-out;
  cursor: pointer;
}
.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}
.card img {
  width: 100%;
  height: 120px;
  border-radius: 10px 10px 10px 10px;
}
.card .contenido-card {
  padding: 15px;
  text-align: center;
}
.card .contenido-card h3 {
  margin-bottom: 5px;
  color: #7a7a7a;
}
.card .contenido-card p {
  line-height: 1.8;
  color: #6a6a6a;
  font-size: 18px;
  margin-bottom: 5px;
}
.card .contenido-card a {
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  color: #2fb4cc;
  border: 1px solid #2fb4cc;
  border-radius: 4px;
  transition: all 400ms ease;
  margin-bottom: 5px;
}
.card .contenido-card a:hover {
  background: #2fb4cc;
  color: #fff;
}

section {
  display: block;
  margin: 10%;
  width: 80%;
  background-color: rgba(75, 243, 75, 0.39);
  height: 150px;
  border-radius: 10px 10px 10px 10px;
  shape-outside: 20px 20px 20px rgb(0, 0, 0);
}
label {
  margin: 1%;
}
input {
  margin: 1%;
}
button {
  background-color: green;
  color: white;
}
.footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.letrasFooter {
  margin-top: 30px;
}
.youtube {
  width: 70px;
  height: 50px;
  margin-top: 13px;
  margin-left: 50px;
  background-image: url(https://cdn.pixabay.com/photo/2016/07/03/18/36/youtube-1495277_1280.png);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  float: left;
}

.instagram {
  width: 80px;
  height: 50px;
  margin-top: 10px;
  margin-left: 70px;
  background-image: url(https://cdn.pixabay.com/photo/2016/08/01/21/00/icon-1562136_1280.png);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  float: left;
}


.facebook {
  width: 80px;
  height: 50px;
  margin-top: 10px;
  margin-left: 70px;
  background-image: url(https://cdn.pixabay.com/photo/2017/06/22/06/22/facebook-2429746_1280.png);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  float: left;
}
#footer {
  width: 100%;
  height: auto;
  border: none;
  background: #0769a2;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}
/* Responsive */
@media(max-width:768px) {

  /* HEADER */
  .mostrar-menu,
  .esconder-menu {
      display: block;
  }

  .menu {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #AED6F1;
      right: -100%;
      top: 0;
      text-align: center;
      /* Arriba y abajo 100 px y 0 izquierda y derecha */
      padding: 100px 0px;
      /* Para que si agregemos otros elemento no se pisen agregamos un z-index */
      z-index: 100;
      transition: 0.8s;
  }

  /* Configurar los enlaces */
  .menu a {
      /* Hacemos para que se pongan en columna */
      display: block;
      /* Para que se separen un poco */
      padding: 20px;
  }

  .esconder-menu {
      position: absolute;
      top: 40px;
      right: 40px;
  }

  /* Usamos el seudoSelector (Cuando el check esté checkeado)*/
  #check:checked~.menu {
      right: 0;
  }

}